// Make buttons less round
body .v-btn {
    border-radius: 2px;
}

// Cards not round
body .v-sheet.v-card {
    border-radius: 0;
}

// --- Start vuetify bug fixes ---- \\

// Remove extra left space in tabs (for button, which doesn't exist
// when it's disabled)
.v-slide-group__prev.v-slide-group__prev--disabled {
    display: none !important;
}
