// Make buttons less round
body .v-btn {
    border-radius: 2px;
}

// Cards not round
body .v-sheet.v-card {
    border-radius: 0;
}

// Table hover not round
body .v-data-table > .v-data-table__wrapper tbody tr:first-child:hover td {
    border-radius: 0 !important;
}

// --- Start vuetify bug fixes ---- \\

// Remove extra left space in tabs (for button, which doesn't exist
// when it's disabled)
.v-slide-group__prev.v-slide-group__prev--disabled {
    display: none !important;
}
